<mat-toolbar class="breadcrumb-toolbar">
	<nav>
		<span class="breadcrumb" [class.active]="!selectedContry" (click)="resetSelection()"> Country</span>
		@if (selectedContry) {
		<span class="breadcrumb"> &gt;</span>
		<span class="breadcrumb" [class.active]="!selectedYear"> {{selectedContry}}</span>
		}
		@if (selectedYear) {
		<span class="breadcrumb"> &gt;</span>
		<span class="breadcrumb"> {{selectedYear}}</span>
		}
	</nav>
</mat-toolbar>
<div class="content-wrapper">
	<!-- Country selector -->
	<ng-container *ngIf="!selectedContry">
		<app-country-selector (countrySelectedX)="onCountrySelected($event)"></app-country-selector>

	</ng-container>

</div>